/* Post Reset Styles */
body {
	font-family: 'Open Sans', Arial, sans-serif;
	background: #EFEFEF;
}
h1, .h1 { font-size: 24px; line-height: 26px; }
h2 , .h2{ font-size: 20px; line-height: 22px; }
h3 { font-size: 18px; line-height: 20px; }
h4, h5, h6 { font-size: 13px; line-height: 16px; font-weight: bold; }
h1,h2,h3,h4,h5,h6{margin-bottom:20px;}
p { font-size: 13px; line-height: 16px; margin: 0 0 20px; }
ul , ol { margin: 0 0 20px; }

/* Reusable Elements */
.island {
	float: left;
}

.link { display: block; margin: 0 0 20px; }

.p10 { padding: 10px 10px 0; }
.p20 { padding: 20px 20px 0; }

/* Section Specific Classes */
#container {
	width: 960px;
	margin: 0 auto;
	background: #FFFFFF;
}
#header {
	padding: 40px 20px 20px;
	border-bottom: solid 1px #CCC;
}
#footer {
	padding: 40px 20px 20px;
	border-top: solid 1px #CCC;
}

.col-190 { width: 190px; }

/* Generic Classes */
.clear { clear: both; }
.no-bottom { margin-bottom: 0; }